@font-face {
  font-family: 'Palatino Linotype';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/palatino-linotype-roman/PalatinoLinotype-Roman.eot');
  src: url('../fonts/palatino-linotype-roman/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
       local('Palatino Linotype'),
       local('palatino-linotype-roman'),
       url('../fonts/palatino-linotype-roman/PalatinoLinotype-Roman.woff2') format('woff2'),
       url('../fonts/palatino-linotype-roman/PalatinoLinotype-Roman.woff') format('woff'),
       url('../fonts/palatino-linotype-roman/PalatinoLinotype-Roman.ttf') format('truetype'),
       url('../fonts/palatino-linotype-roman/PalatinoLinotype-Roman.svg#PalatinoLinotype') format('svg');
}

@font-face {
  font-family: 'Palatino Linotype';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/palatino-linotype-bold/PalatinoLinotype-Bold.eot');
  src: url('../fonts/palatino-linotype-bold/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
       local('Palatino Linotype Bold'),
       local('palatino-linotype-bold'),
       url('../fonts/palatino-linotype-bold/PalatinoLinotype-Bold.woff2') format('woff2'),
       url('../fonts/palatino-linotype-bold/PalatinoLinotype-Bold.woff') format('woff'),
       url('../fonts/palatino-linotype-bold/PalatinoLinotype-Bold.ttf') format('truetype'),
       url('../fonts/palatino-linotype-bold/PalatinoLinotype-Bold.svg#PalatinoLinotype') format('svg');
}

@font-face {
  font-family: 'Palatino Linotype';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/palatino-linotype-italic/PalatinoLinotype-Italic.eot');
  src: url('../fonts/palatino-linotype-italic/PalatinoLinotype-Italic.eot?#iefix') format('embedded-opentype'),
       local('Palatino Linotype Italic'),
       local('palatino-linotype-italic'),
       url('../fonts/palatino-linotype-italic/PalatinoLinotype-Italic.woff2') format('woff2'),
       url('../fonts/palatino-linotype-italic/PalatinoLinotype-Italic.woff') format('woff'),
       url('../fonts/palatino-linotype-italic/PalatinoLinotype-Italic.ttf') format('truetype'),
       url('../fonts/palatino-linotype-italic/PalatinoLinotype-Italic.svg#PalatinoLinotype') format('svg');
}

@font-face {
  font-family: 'Palatino Linotype';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/palatino-linotype-bold-italic/PalatinoLinotype-BoldItalic.eot');
  src: url('../fonts/palatino-linotype-bold-italic/PalatinoLinotype-BoldItalic.eot?#iefix') format('embedded-opentype'),
       local('Palatino Linotype Bold Italic'),
       local('palatino-linotype-bold-italic'),
       url('../fonts/palatino-linotype-bold-italic/PalatinoLinotype-BoldItalic.woff2') format('woff2'),
       url('../fonts/palatino-linotype-bold-italic/PalatinoLinotype-BoldItalic.woff') format('woff'),
       url('../fonts/palatino-linotype-bold-italic/PalatinoLinotype-BoldItalicc.ttf') format('truetype'),
       url('../fonts/palatino-linotype-bold-italic/PalatinoLinotype-BoldItalic.svg#NotoSans') format('svg');
}
